*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Spartan', sans-serif;
}

main{
  display: flex;
  flex-direction: column;
  background: red;
  max-width: 450px;
  margin: auto;
}

.head{
  margin: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.calc{
  font-size: 32px;
}

.theme{
  display: flex;
  justify-content: center;
  align-items: center;
  background: yellow;
  font-size: 12px;
}

.toggle{
  width: 50px;
  height: 20px;
  background-color: green;

}

.output{
  font-weight: 700;
  font-size: 2rem;
  height: 4rem;
  padding: 1rem .5rem; 
  margin: .5rem;
  background: yellow;
  text-align: right;
}

.keypad{
  padding: .5rem;
  margin: .5rem;
  background: yellow;
  font-weight: 700;
  font-size: 2rem;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.btn{
  padding: .5rem;
  background-color: white;
  margin: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  cursor: pointer;
  border-bottom: solid 5px black;
}

.btn:hover{
  border-bottom: solid 5px #888;
}

.btn:focus{
  animation-name: clicked;
  animation-duration: 0.5s;
}

.reset{
  grid-column-start: 1;
  grid-column-end: 3;
}

.equal{
  grid-column-start: 3;
  grid-column-end: 5;
}

@keyframes clicked {
  0%   {border-bottom: solid 5px #888;}
  25%  {border-bottom: solid 2px #444;}
  50%  {border-bottom: solid 0 #888;}
  100% {border-bottom: solid 5px #888;}
}
